In [32]:
import pandas as pd
import numpy as np

In [33]:
!ls .."N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General ledger*.xlsx"

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [34]:
import glob
glob.glob("N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General ledger*.xlsx")

['N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General Ledger_0120.xlsx',
 'N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General Ledger_0220.xlsx',
 'N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General Ledger_0320.xlsx',
 'N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General Ledger_0420.xlsx',
 'N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General Ledger_0520.xlsx',
 'N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General Ledger_0620.xlsx']

In [39]:
all_data = []
for f in glob.glob("N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\General Ledger*.xlsx"):
    all_data.append(pd.read_excel(f))
    df = pd.concat(all_data, ignore_index=True)

In [40]:
#all_data.head(3)
df.head(3)

,Posting Date,Due Date,Doc. No.,Trans. No.,Account,Account name,Remarks,Offset Acct,Offset Acct Name,Deb./Cred. (LC),Category,Manufacturer/Owner,Dimension 3,Dimension 4
0,02.01.2020,02.01.2020,RC 14089,83944,11110100,Tiền mặt Việt Nam - VPDHĐ,LOAN-PHONG-60.541.000,CS002837,NT BAO,1078000.0,NaN,NaN,NaN,NaN
1,02.01.2020,02.01.2020,RC 14090,83946,11110100,Tiền mặt Việt Nam - VPDHĐ,LOAN-PHONG-60.541.000,CS011087,CONG TY TNHH Y TE DAI PHUOC (CNTP),4755000.0,NaN,NaN,NaN,NaN
2,02.01.2020,02.01.2020,RC 14091,83948,11110100,Tiền mặt Việt Nam - VPDHĐ,LOAN-PHONG-60.541.000,CS004996,NT NGUYEN THANH,561000.0,NaN,NaN,NaN,NaN

In [55]:
Acct = [13310000,13320000,13330000]
filter=df[df.Account.isin(Acct)]
filter.shape
filter.head(3)

,Posting Date,Due Date,Doc. No.,Trans. No.,Account,Account name,Remarks,Offset Acct,Offset Acct Name,Deb./Cred. (LC),Category,Manufacturer/Owner,Dimension 3,Dimension 4
54924,21.01.2020,21.01.2020,PC 11,148162,13310000,"XUAT TRA HANG TRUONG SON, TRA HANG TON KHONG S...","XUAT TRA HANG TRUONG SON, TRA HANG TON KHONG S...",VDP10044,CONG TY TNHH TRUONG SON,-1.783010e+06,NaN,NaN,NaN,NaN
54925,21.01.2020,21.01.2020,PC 12,148341,13310000,A/P Credit Memos - VDP10085,A/P Credit Memos - VDP10085,VDP10085,CONG TY TNHH DUOC PHAM LIEN HOP,-4.823754e+06,NaN,NaN,NaN,NaN
54926,21.01.2020,21.01.2020,PC 13,148358,13310000,A/P Credit Memos - VDP10088,A/P Credit Memos - VDP10088,VDP10088,(HD)CONG TY TNHH DUOC PHAM LIEN HOP,-1.219167e+07,NaN,NaN,NaN,NaN

In [56]:
filter.to_excel("N:\\TAILIEUPHONG\\NhungTTH\\General_ledger_20\\combine.xlsx", index = False)